.about-page .about-page__content .content__inner{
  display: flex;
}

.about-page .about-page__content .content__inner > *{
  width: 50%;
}

.profile .profile__header{
  font-size:1.2em;
  margin-top: 20px;
  text-align: left;
}

.profile .profile__history *{
  margin-top:5px;
}

figure.self_photo{
  max-width: 50%;
  margin: 0 auto;
}

figure.self-photo img{
  text-align: center;
}
