.about-page .about-page__content .content__inner{
  display: flex;
}

.about-page .about-page__content .content__inner > *{
  width: 50%;
}

.profile .profile__header{
  font-size:1.2em;
}

.profile .profile__history *{
  margin-top:5px;
}

figure.self-photo{
  max-width: 100%;
}

figure.self-photo img{
  text-align: center;
}
