/* index-page ----------------------- */
/* header__bottom--- */
.header__bottom{
  min-height: 300px;
}

.header__bottom .content__inner{
  display: flex;
}

.header__bottom .left-info{
  width: 50%;
}

.header__bottom .left-info figure{
  max-width:300px;
  margin: 0 auto;
}

.header__bottom .left-info figure .keyvis{
  text-align: center;
}

.header__bottom .right-info{
  padding: 30px;
}

.header__bottom .right-info .right-info__inner{
  transform:translateY(50%);
}

.header__bottom .right-info .right-info__inner .site-description{
  font-family: selif;
}

/* main ----------------------- */
/* info---------- */

.info__content{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
}

.info__content > *{
  margin: 7px;
  width: 250px;
}

.info__content img{
  width:100%;
}

.info div[class*="__description"]{
  margin: 15px 0;
}

/* works（スライダーは別途指定）---------- */

.works .bottom-info{
  margin-top: 5px; 
  text-align: right;
}

/* blog ---------- */
.blog .blog__content{
  display: flex;
}

.blog .blog__content .media{
  display: flex;
  padding: 10px;
  width: 50%;
  margin: 0 7px;
  border: solid #ccc 1px;
  border-radius:5px;
}

.blog .blog__content .media .media__img {
  margin-right:7px;
}

.blog .blog__content .media .media__img img{
  width: 100px;
  height: 100px;
}
/* contect(保留) ---------- */
/* .contact{
  &__form{
    width:50%;
    margin: 0 auto;
    *{
      line-height:2;
    }
    .submit{
      width: 100%;
      border: $content-border;
      text-align: center;
    }
  }
} */
