.about-page{
  .content{
    @include info-page-content;
    .inner{
      display: flex;
      &__l{
        width: 50%;
        figure{
          max-width: 50%;
          img{
            text-align: center;
          }
        }
      }
      &__r{
        width: 50%;
      }

    }
  }
}
